<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/style.css" />
    <title>input form for Squad</title>
</head>
<body>
<h1>Squad</h1>
<form action="/create-squad" method="post">
    <div class="form-items">
    <label>Cause</label><br/>
    <input type="text" id="name" name="cause"><br/><br/>
    <label>Name</label><br/>
    <input type="text" id="name" name="squad"><br/><br/>
    <label>Maximum Size</label><br/>
    <input type="number" id="max_size" name="max_size">
    <div class="fcf-form-group">
        <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Submit</button>
    </div>
        </div>
</form>
</body>
</html>